<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lumo·Graph</title>
    <link rel="icon" href= "/icons/lumologo.jpg"  type="image/ico">
    <!-- fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/wvd2qfh.css">
    <!--Css-->
    <link rel="stylesheet" href= "./templates/obselete/css/base.css" >
</head>

<body>
<div id="master-title" data-aos="fade-up">
  <h1>Master Archive</h1>
  <!-- <h1><%= masterList.length %> exposures taken</h1> -->
</div>
<div id="master-content" data-aos="fade-up">
  <div class="master-row">
        <div class="master-data"><p><i>Index</i></p></div>
        <div class="master-data"><p><i>Name</i></p></div>
        <div class="master-data"><p><i>Film Type</i></p></div>
        <div class="master-data"><p><i>ISO</i></p></div>
        <div class="master-data"><p><i>Roll Nbr.</i></p></div>
        <div class="master-data"><p><i>Size</i></p></div>
        <div class="master-data"><p><i>Location</i></p></div>
        <div class="master-data"><p><i>Development</i></p></div>
        <div class="data-spacer"></div>
  </div>
  <!-- <% masterList.forEach(function(exposure) { %> -->
  <div class="master-row">
        <div class="master-data"><p><strong>Exp.</strong>1200</p></div>
        <div class="master-data"><p>1200.jpg</p></div>
        <div class="master-data"><p>ektar</p></div>
        <div class="master-data"><p>100 ISO</p></div>
        <div class="master-data"><p>Nbr.31</p></div>
        <div class="master-data"><p>35mm</p></div>
        <div class="master-data"><p>---</p></div>
        <div class="master-data"><p>---</p></div>
        <div class="data-spacer"></div>
  </div>
  <!-- <% }); %> -->

  <div class="bottom-whitespace"></div>
</div>

</body>
</html>
